
/* This positions the title spans in the center */
#gameTitle{
  display: flex;
  margin-right: 37vw;
  margin-left: 37vw;
  justify-content: space-evenly;
}

/* redSpan and blueSpan make the title words red and blue corresponding with their playerside */
#redSpan{
    color: #d63031;
  }

#blueSpan{
    color: #0984e3;
  }
  
/* All titles on the page for top and player sides */
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 52px;
    color: #2d3436;
  }

/* This is specifically for the "Winning" text displayed upon winning */
  h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 65px;
    color: #55efc4;
  }


/* This is a div for the table and the left and right signifiers */
#gameContent{
  display: flex;
  justify-content: space-evenly;
}

/* game board table */

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px #666;
}

div{
  margin-top: 15px;
}

/* Player Boxes are the Divs underneath each of the Player Titles, each color corresponding with their team */
#player1Box{

  background-color: #d63031;
  height: 150px;
  opacity: 75%;

}

#player2Box{

  background-color: #0984e3;
  height: 150px;
  opacity: 75%;
}

/* This will give the left and right turn tables a greyed look when it's not their turn */
.greyed{

    opacity: 30%;
  
  }
  
/* Spacing and text formatting for submit and reset buttons */
#buttons{

  display: flex;
  justify-content: space-evenly;

}

button{
  font-size: 40px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Patrick Hand', cursive;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  border-style: solid;
  opacity: 70%;
}

/* Change between red and blue depending on the currPlayer (current Player) */
.red{

    background-color: #d63031;
  }
  
  .blue{
  
    background-color: #0984e3;
  }
  

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px #dfe6e9;
} 

#column-top td:hover {
  background-color: #ffeaa7;
}




